* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*************** UTILITY ***************/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}


body {
    font-family: "Poppins";
    overflow-x: hidden;
}



/*************** header with upgrade ***************/

header {
    opacity: 80%;
    position: fixed;
    background-color: #080B12;
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: end;
}



header a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 140px;
    padding: 10px 57px;
    text-decoration: none;
    margin-right: 3rem;
}









/*************** central section with content ***************/


.center-section {
    background-color: #141922;
    width: 100vw;
    height: 100%;
    padding-left: 15.5rem;
    padding-top: 7.3rem;
    padding-bottom: 10rem;
}

.recent-album {
    padding-right: .5rem;
}


.center-menu {
    color: gray;
    font-size: .9rem;
    justify-content: center;
}

.center-menu>h4 {
    margin: 0;
    margin-right: 1.5rem;
}

.recently-played,
.created-for-you,
.popular-artists {
    color: white;
    margin-top: 2rem;
}

.card {
    text-align: center;
    width: calc(100% / 6);
    max-width: 15rem;
    padding: .2rem;
}

h3 {
    font-size: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.recent-album>div>p {
    font-size: .8rem;
    color: gray;
    margin-bottom: 1.5rem;
}

.title-recent,
.title-created,
.title-popular {
    font-size: 1rem;
    margin-bottom: .6rem;
    margin-left: 0;
}

.recently-played h2 {
    margin-bottom: 1rem;
}

.title-created p,
.popular-artists p {
    color: gray;
    font-size: .8rem;
    margin-top: .6rem;
}

.round-artist {
    border-radius: 200px;
}








/*************** black sx side nav with home, src etc ***************/


aside {
    background-color: black;
    width: 230px;
    height: 100vh;
    position: fixed;
    left: 0;
    color: white;
}


.spotify-logo--text {
    color: white;
    width: 9rem;
    margin-bottom: 2rem;
}

.spotify-small {
    filter: invert(100%);
    width: 2.3rem;
    margin-bottom: 2rem;
    display: none;
}

.black-box-sx {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
}

.black-box-sx h3 {
    font-size: .9rem;
    margin-top: .5rem;
    color: gray;
}

.black-box-sx h2 {
    font-size: 1rem;
    color: gray;
    margin-left: .3rem;
}

.playlist-black-sx {
    width: 100%;
}

#playlist-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.gray-square {
    background-color: gray;
    height: 2rem;
    width: 2rem;
}

.fa-plus {
    color: #080B12;
}

.fa-xl {
    color: gray;
    margin-right: .5rem;
}

.black-menu {
    margin-bottom: 1rem;
}

.function {
    align-items: center;
}

.playlist-list>h3 {
    margin-top: 1.3rem;
}

.bottom-black-box {
    align-items: baseline;
    margin-top: 33rem;
}

.fa-download {
    color: gray;
    margin-right: .5rem;
}

.hr-download {
    background-color: gray;
    height: 1px;
    border: none;
}

#profile-img {
    border-radius: 50px;
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

.profile-row {
    margin-top: .4rem;
    align-items: center;
}

.profile-row>h3 {
    color: white;
    font-size: 1.1rem;
}







/*************** foother with player ***************/

footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background-color: #282828;
}

.playing-now {
    width: calc(100% / 3);
    height: 100%;
    border: solid 3px red;
    align-items: center;
    padding-left: .8rem;
    color: white;
}

.playing-now h5 {
    color: gray;
    font-size: .8rem;
    margin-right: 2rem;
}

.fa-heart,
.fa-folder {
    color: gray;
    margin-left: 1rem;
}


.playing-now>img {
    height: 60%;
    margin-right: .6rem;
}


.player-commands {
    width: calc(100% / 3);
    height: 100%;
    border: solid 3px red;
    align-items: center;
    justify-content: center;
}



.volume-inputs {
    width: calc(100% / 3);
    height: 100%;
    border: solid 3px red;
    align-items: center;

}














/*********** MEDIA QUERY *************/





/*** MEDIUM screen ***/
@media screen and (max-width: 1024px) {
    .card {
        width: calc(100% / 4);
    }

    .center-menu>h4 {
        margin-top: 1rem;
    }

    .recent-album {
        flex-wrap: wrap;
    }

}






/*** SMALL screen ***/
@media screen and (max-width: 768px) {
    .card {
        width: calc(100% / 2);
    }

    .center-menu>h4 {
        margin-top: 1rem;
    }




}





/*** EXTRA-SMALL screen ***/
@media screen and (max-width: 480px) {
    .card {
        width: calc(100% / 2);
    }

    .center-section {
        padding-left: 5.5rem;
    }

    aside {
        width: 70px;
    }

    .black-box-sx {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .black-menu>div>h3 {
        display: none;
    }

    .playlist-black-sx {
        display: none;
    }

    .bottom-black-box>h3 {
        display: none;
    }

    .spotify-logo--text {
        display: none;
    }

    .spotify-small {
        display: block;
    }

    .fa-xl {
        margin-top: 2rem;
    }

    .black-box-sx>hr {
        display: none;
    }

    .profile-row>h3 {
        display: none;
    }



}