* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: "Poppins";
}




/*************** UTILITY ***************/

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.column {
    flex-direction: column;
}




/*************** header with upgrade ***************/

header {
    opacity: 80%;
    position: absolute;
    background-color: #080B12;
    width: 100vw;
    height: 50px;
    align-items: center;
}



header a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
}









/*************** central section with content ***************/


.center-section {
    background-color: #141922;
    width: 100vw;
    height: 100vh;
    padding-left: 8rem;
    padding-top: 4.3rem;
}


.center-menu {
    color: gray;
    font-size: .4rem;
    justify-content: center;
}

.center-menu>h4 {
    margin: 0;
    margin-right: .5rem;
}

.recently-played,
.created-for-you {
    color: white;
    margin-top: .7rem;
}

.card {
    text-align: center;
    max-width: 7rem;
    margin-right: .5rem;
}

h3 {
    font-size: .5rem;
    margin-top: .1rem;
    margin-bottom: .2rem;
    line-height: .6rem;
    font-weight: 500;
}

.recent-album>div>p {
    font-size: .4rem;
    color: gray;
}

.title-recent,
.title-created {
    font-size: .5rem;
    margin-bottom: .6rem;
    margin-left: 0;
}

.created-album {
    justify-content: space-between;
}












/*************** black sx side nav with home, src etc ***************/


aside {
    background-color: black;
    width: 120px;
    height: 100vh;
    position: fixed;
    left: 0;
    color: white;
}


.spotify-logo--text {
    color: white;
    width: 5rem;
    margin-top: .5rem;

}

.black-box-sx {
    margin: 0;
    padding-left: .8rem;
}

.black-box-sx h3 {
    font-size: .4rem;
    margin-top: .5rem;
    color: gray;
}

.black-box-sx h2 {
    font-size: .5rem;
    margin: 0;
    color: gray;
    margin-left: .3rem;
}


.playlist-black-sx {}

.playlist-list {
    margin: 0;
}

.gray-square {
    background-color: gray;
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.fa-plus {
    color: #080B12;
}

.fa-2xs {
    color: gray;

}

.black-menu {
    margin-bottom: 1rem;
}







/*************** foother with player ***************/

footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background-color: #282828;
}